html,body {
    font-family : "ヒラギノ角ゴ ProN" , sans-serif;
    font-size: 16px;
    background-color: #fafafa;
    /* モーダルスクロール止める用 */
    /*
    overflow: auto;
    height: 100%;
    */
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.header {
    position: fixed;
    width: 100%;
    height: 180px;
    top:-100px;
    z-index: 999;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    color: #aaa;
}
.header .ab-cl {
    position: absolute;
    top: 132px;
    left: 20px;
    font-size:1.0em;
    font-weight: 900;
    color: #db565b;
}
.header .ab-cr {
    position: absolute;
    top: 119px;
    right: 22px;
}
.header .tagTotal {
    font-size: 2.6em;
    color: #db565b;
    font-weight: 400;
}
.content {
    width: 100%;
    box-sizing: border-box;
    padding: 90px 10px 10px 10px;
}
.content h2 {
    padding: 40px 10px 30px 10px;
    font-size: 48px;
    line-height: 30px;
}
.content h2 span {
    font-size: 15px;
}
.taglist {
    list-style: none;
    margin: 0px;
}
.taglist:after {
    content: '';
    display: block;
    clear: both;
}
.tag {
    padding: 10px 10px 10px 40px;
    border-radius: 10px;
    margin: 4px 2px;
    background-color: #fff;
    border: 1px solid #eee;
    color: #555;
    position: relative;
    /*display: inline-block;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;    
}
#gearTagsList .tag,
#shareTagsList .tag,
#campTagsList .tag {
    /*font-size: 0.8em;*/
    font-size: 1.0em;
}

.tag.invisible {
    display: none;
}

.tag.on {
    background-color: #db565b;
    color: #fefefe;
    border: 1px solid #eee;
}
#campTagsList .tag.on {
    animation: blink1 0.4s ease 0s 1 alternate none running;
    background-color: #83be5f;
    color: #fefefe;
    border: 1px solid #eee;
}
#campTagsList .tag.on.fixed {
    animation: 0s;
    background-color: #db565b;
    color: #fefefe;
    border: 1px solid #eee;
}
.tag.on .pin {
    filter: brightness(0) invert(1);
}
.tag.fixed {
    border: 1px solid #fff;
}
.taglist.fixed .tag {
    padding: 10px 10px 10px 15px;
} 

.pin {
    width: 20px;
    position: absolute;
    top: -4px;
    left: 0px;
    opacity: 0.1;
    padding: 10px;
}
.pin.on {
    opacity: 1.0;    
}

.random-button,
.copy-button {
    margin: 10px 0 20px 0;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 30px 10px;
    text-align: center;
}

.random-button {
    background-color: #83be5f;
}
.random-button:active {
    animation: blink1 0.4s ease 0s 1 alternate none running;
}
.copy-button:active {
    animation: blink2 0.4s ease 0s 1 alternate none running;
}
.copyright {
    font-size: 0.6em;
    margin: 10px;
    text-decoration: none;
    color: #555;
}
.footer {
    padding: 10px 10px 30px 10px;
    text-align: center;
}
.tags {
    margin: 30px;
}

@keyframes blink1 {
    0% {
        background-color: #fefefefe;
    }
    100% {
        background-color: #83be5f;
    }
}
@keyframes blink2 {
    0% {
        background-color: #fefefefe;
    }
    100% {
        background-color: #000000;
    }
}


.view-setting-button,
.add-button {
        margin: 0 0 0 20px;
    font-size: 0.3em;
}

.gearTagsAddView,
.settingView {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    overflow: scroll;
    height: 100%;
    padding: 10px 10px 120px 10px;
    box-sizing: border-box;
    display: none;
}
.gearTagsAddView {
    display: block;
}
.gearTagsAddView.visible,
.settingView.visible {
    display: block;
}

.settings.title {
    margin: 20px 0 40px 10px;
    font-size: 2.0em;
}
.settingView input {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.settingView ul li {
    margin: 10px;
}
.settingView button {
    font-size: 16px;
}

.setting-close-button {
    position: fixed;
    top: 20px;
    right: 20px;
}
.close-image {
    width: 40px;
    height: 40px;
}

.button-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    text-align: center;
    padding: 20px 0 40px 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
}
.button-wrapper button {
    margin: 0 20px;
    padding: 12px;
}
.lastupdate {
    font-size: 12px;
    font-weight: 100;
    color: #ccc;
    margin-left: 10px;
}


.js-add-hashtag-button,
.gearTagsAddView {
    display: none;
}

